/* .carousel {
  width: 100%;
}

.carousel-cell {
  display: flex;
  justify-content: center;
  height: 10rem;
  width: 100%;
  background: lime;
} */

@media (max-width: 500px) {
  .leftSliderArrow {
    margin-left: -1rem;
  }

  .rightSliderArrow {
    margin-right: -1rem;
  }
}

.h-logo-1 {
  fill: #f2f2f2;
  font-size: 24px;
  font-family: Shackleton-Regular, Shackleton;
}

.cls-cabinet {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.6rem;
}

.cls-gold {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.6rem;
}

.cls-piggy {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.6rem;
}

.cls-presentation {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.6rem;
}
