/* .carousel {
  width: 100%;
}

.carousel-cell {
  display: flex;
  justify-content: center;
  height: 10rem;
  width: 100%;
  background: lime;
} */

.cls-1 {
  fill: #f2f2f2;
  font-size: 24px;
  font-family: Shackleton-Regular, Shackleton;
}

.cls-2 {
  stroke: #f2f2f2;
  fill: #f2f2f2;
}

.cls-cabinet {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.6rem;
}

.cls-gold {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.6rem;
}

.cls-piggy {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.6rem;
}

.cls-presentation {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.6rem;
}
