#header-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.testimonial-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 28rem;
  width: 28rem;
  border-radius: 50%;
  border: 1px solid #999;
  background: #fcfcfc;
}

.testimonial-circle:hover > h3 {
  color: #84ceeb;
}

@media (min-width: 600px) {
  .testimonial-circle {
    height: 30rem;
    width: 30rem;
  }
}

.leftCircle100VW-container {
  /* position: absolute;
  left: -40%; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  /* background: red; */
}

.midCircle100VW-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  z-index: 100;
  /* background: green; */
}

.rightCircle100VW-container {
  position: relative;
  /* position: absolute;
  right: -40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  /* background: blue; */
}

@media (min-width: 900px) {
  #testimonial-circle-left {
    position: absolute;
    left: 1%;
  }

  #testimonial-circle-mid {
    z-index: 100;
  }

  #testimonial-circle-right {
    position: absolute;
    right: 1%;
  }

  .leftCircle100VW-container {
    position: static;
    height: 0px;
    width: 0px;
    border-radius: 50%;
  }
  .midCircle100VW-container {
    position: static;
    height: auto;
    width: auto;
    border-radius: 50%;
  }
  .rightCircle100VW-container {
    position: static;
    height: 0px;
    width: 0px;
    border-radius: 50%;
  }
}
/* SVG LOGO STYLES */
/* Hamberguesa Toggle */
.hamberguesa {
  fill: #fcfcfc;
}

/* .hamberguesa-top-line {
  fill: blue;
} */
/* Logo */
.cls-1 {
  fill: transparent;
}
.cls-2 {
  fill: #84ceeb;
}
.cls-3 {
  font-size: 16px;
}
.cls-3,
.cls-5 {
  fill: #fcfcfc;
  font-family: Quicksand, sans-serif;
}
.cls-4 {
  letter-spacing: -0.02em;
}
.cls-5 {
  font-size: 14px;
}
.cls-6 {
  letter-spacing: -0.02em;
}
.cls-7 {
  letter-spacing: -0.01em;
}

/* Aside Navbar Styles */
.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 7;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40vw;
  color: #999;
  background: #fcfcfc;
}

@media (min-width: 900px) {
  .sidebar-container {
    visibility: hidden;
  }
}

.active-link {
  color: #84ceeb;
}

/* Range Slider Styles */

.slide-container {
  margin: 0.5rem 0;
  width: 100%;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background: #333;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #8860d0;
  margin-top: -7px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #999;
}

/* THE WIDTH IS ACTING FUNKY IN FIREFOX */
input[type="range"]::-moz-range-track {
  height: 2px;
  background: #333;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #8860d0;
  margin-top: -7px;
}

input[type="range"]:focus::-moz-range-track {
  background: #999;
}

/* Checkbox Style Hack */

.checkbox-quoteform {
  margin: 0.5rem 0;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="checkbox"]::-ms-check {
  display: none;
}

input[type="checkbox"] {
  position: relative;
  width: 10rem;
  height: 2.4rem;
  background: #bbb;
}

input[type="checkbox"]:checked {
  background: #8860d0;
}

input[type="checkbox"]:focus {
  outline: none;
}

.checkbox-quoteform {
  position: relative;
}

.checkbox-quoteform > label {
  position: absolute;
  top: 25%;
  left: 0;
  font-size: 0.9rem;
  height: 2.4rem;
  width: 10rem;
  color: #fcfcfc;
  text-align: center;
}

.checkbox-quoteform > label:hover {
  cursor: pointer;
}

/* .testimonial-slider {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
} */

.prevent-highlight-text {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

/* .slider {
  width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-points-x: repeat(300px);
  scroll-snap-points-x: repeat(300px);
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fcfcfc;
  width: 300px;
  flex-shrink: 0;
  height: 100%;
  background: #e04;
} */
